
#navbar{
    
    background-color: rgb(4,186,210);
    
}
#nav{
    color: White;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-display:initial;
    font-size: 1.5rem;
}


#title{
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

#footer {
    width: 100%;
    background-color: rgb(4,186,210);
    position: fixed;
    bottom: 0px;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
 }
li{
    width:30%;
}
#cartlists{
    /* display:flex; */
    display: grid;
  
  grid-template-columns: 20% 15% 10% 15% 15% 15%;
  
}

#cartlists1{
    /* display:flex; */
    display: grid;
  
  grid-template-columns: 20% 15% 10% 15% 15% 15%;
  
}
#quantity{
    border :1px solid blue;
}
#msg{
    margin-top:10px;
   color:black;
   background-color: azure; 
   font-weight: 50px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#add_item{
    margin-top: 20px;
}
/* .itemName{
    width:200px;
}
.itemPrice{
    width:100px;
}
.quantity{
    width:200px;
}*/

#remove{
    width:150px;
    font-size: 30px;
    background-color: red;
} 